<%- include header %>
<h1><%= title %></h1>
<div class="about_me">
  <p>Hi!everyone,我是刘雯，前端进击美(huang)少(lian)女(po)战(ba)士(lu),在西安电子科技大学软件学院学习。</p>
  <ul>
        <li>熟练掌握语义化的 HTML 和 CSS ，了解响应式开发。</li>

        <li>对 HTML5 和 CSS3 有一定了解。</li>

        <li>熟悉javascript jQuery，实现日常需要的交互效果。</li>

        <li>了解 Ajax 工作原理和实现方法。</li>

        <li>了解nodeJs及其架构工具Express框架，以及非关系型数据库Mongodb。</li>

        <li>对前端canvas，svg有一定了解。</li>

        <li>了解reactJs。</li>

        <li>目前在学习react-native</li>

        <li>喜欢接触新事物，有一定的自学能力。</li>
  </ul>
  <h2>联系本人</h2>
  <ul>
        <li>微信：GLW5299629</li>

        <li>QQ：  8027198</li>

        <li>邮箱：8027198@qq.com</li>
        
        <li>博客：<a href="https://segmentfault.com/u/kcoder">https://segmentfault.com/u/kcoder</a></li>
  </ul>
</div>
<%- include footer %>