<%- include header %>
<h1><%= title %></h1>
<div class="musicList row">
     <div type="column" class="selected col-xs-offset-2 col-md-offset-4 col-xs-4 col-md-2">柱状图</div>
     <div type="dot" class="col-xs-4 col-md-2">小圆点</div>
</div>
<div id="music-left"class="music col-xs-5 col-md-3">    
<ul>
     <% musicName.forEach(function(name){ %>
     <li><%= name %></li>
  <% }) %>
</ul>
</div>
<div id="box" class="music col-xs-6 col-md-8">

</div>
<%- include footer %>
