<%- include header %>
<h1><%= title %></h1>
<form role="form" class="article-form main-content" method="post">
  <div class="form-group">
    <label>姓名:</label>
    <input type="text" class="input form-control" name="name">
  </div>
  <div class="form-group">
    <label>密码:</label>
    <input type="password" class="input form-control" name="password"></input>
  </div>
  <button type="submit" class="button btn btn-default">注册</button>
</form>
<%- include footer %>