@media screen and (max-width:768px){
	html{
		font-size:37.5%;
	}
.input{
    font-size:2rem;
}
.button{
    font-size:1.5rem;
    text-align: center;
}
textarea{
    width:90%;
    height:25rem;
}
form label{
    font-size:1.7rem;
}
.main{
    width:100%;
    margin:0px auto;
}
/*header*/
header {
    height: 6.5rem;
}
.self-img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 6.7rem;
    overflow: hidden;
    float: left;
    margin-left:.6rem;
    margin-top: 2rem;
}

.self-img img {
    width: 4.5rem;
    height: 6rem;
}
.header dl {
    position:absolute;
    left:5.5rem;
    top: 0px;
}
.header dd {
    width: 5rem;
    display: inline-block;
    text-align: center;
    padding-top:3.5rem;
    padding-bottom:1.3rem;
    font-size: 2.1rem;
}

.header .active {
    border: none;
    border-bottom-width: 5rem;
    border-bottom: 0.4rem solid grey;
}
header ul{
    left:1rem;
}
header ul a:link {
    color: grey;
    text-decoration: none;
}

header ul a:visited {
    color: grey;
    text-decoration: none;
}

header ul a:hover {
    color:grey;
    text-decoration: none;
}

header ul a:active {
    color:grey;
    text-decoration: none;
}
/*index content*/
.content {
    margin-top: 8.5rem;
}
.content h1 {
    font-size: 3.0rem;
}
.content-item {
    margin: 0px auto;
    width: 95%;
    height:10rem;
    position: relative;
}

.content-item img {
    position: absolute;
    top: 2.1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 0.25rem;
}
.content-item h3 {
    top: 2rem;
    position: absolute;
    left: 10rem;
    font-size:3rem;
}

.content-item h5 {
    position: absolute;
    right: 1.7rem;
    bottom: 0.5rem;
}
/*upload*/
.upload{
    margin-left:2rem;
}
.upload input,.upload button{
    margin-top:2rem;
}
/*about content*/
.aboutme p{
  width:100%;
  text-indent:2em;
  font-size:1.3rem;
}
.project div{
	height:20.8rem;
	position:relative;
	text-align:center;
	line-height:20.8rem;
	border-radius: 0.25rem;
}
.project img{
   width:16.6rem;
   height:16.6rem;
   border-radius:0.25rem;
}
/*article post*/
.article-form{
    padding-top:2.5rem;
}
.article-form label{
    line-height:2.5rem;
}
/*blog content*/
.article h4{
    width:100%;
    padding-bottom:1.7rem;
    padding-left:80%;
}
.content .article p{
  margin:0px auto;
  width:90%;
  text-indent:2em;
  font-size:1.3rem;
}
.comment h2{
  margin: 0px auto;
    padding-top: 0.8rem;
    width: 95%;
}
.comment-item{
    margin-top: 1.7rem;
    width:90%;
    margin:0px auto;
  font-size:0.8rem;
  border:none;
  border-bottom-width:80%;
  border-bottom:1px solid lightgrey;
}
.comment-item h4{
    width:100%;
    line-height:2.5rem;
}
.comment-form{
    width:90%;
    margin:0px auto;
    margin-top:1.7rem;
}
.comment-form input{
   width:60%;
}
.comment-form textarea{
    width:80%;
    height:16.7rem;
}
.about_me h2{
    font-size:3rem;
}

}